substitutions:
  # Defaults; device files can override these
  device_hostname: ${device_id}
  log_level: INFO

esphome:
  name: ${device_hostname}
  friendly_name: ${device_friendly_name}
  comment: ${device_description}
  project:
    name: ${fleet_project}
    version: ${fleet_firmware_version}

logger:
  level: ${log_level}

api:

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "${device_friendly_name} Fallback"
    password: !secret fallback_ap_password

captive_portal:
